bcrypt===4.3.0
fastapi==0.115.12
# fitz==0.0.1.dev2
PyMuPDF==1.25.5
httpx==0.28.1
python-jose==3.4.0
python-dotenv===1.1.0
python-multipart===0.0.20
langchain==0.3.23
loguru==0.7.3
mistralai==1.6.0
google-generativeai==0.8.4
networkx==3.4.2
nltk==3.9.1
passlib==1.7.4
Pillow==11.1.0
pydantic==2.11.2
qdrant_client==1.13.3
scikit_learn==1.6.1
SQLAlchemy==2.0.40
uvicorn==0.34.0
requests==2.32.3
google-auth==2.38.0
google-auth-oauthlib==1.2.1
